<p><%= t('locations.following.weather.temperature') %>: <%= location.weather.main.temp %></p>
<p><%= t('locations.following.weather.pressure') %>: <%= location.weather.main.pressure %></p>
<p><%= t('locations.following.weather.humidity') %>: <%= location.weather.main.humidity %></p>

<h3><%= t('locations.following.weather.wind') %></h3>
<p><%= t('locations.following.weather.speed') %>: <%= location.weather.wind.speed %></p>
