<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center"><%= t('locations.following.header') %></h1>
      <% @locations.each do |location| %>
        <div class="col-md-6">
          <div class="card weather-card">
            <div class="card-body">
              <h3 class="text-center"><%= location.name %></h1>
              <p>Temperature: <%= location.weather.main.temp %></p>
              <p>Pressure: <%= location.weather.main.pressure %></p>
              <p>Humidity: <%= location.weather.main.humidity %></p>

              <h3>Wind</h3>
              <p>Speed: <%= location.weather.wind.speed %></p>

              <p>Weather forecast mockup </p>
              <p><%= @message %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
