<div class="container">
  <div class="row title-header text-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center"><%= t('locations.following.header') %></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <% @locations.each do |location| %>
          <div class="col-md-6 mt-3">
            <div class="card weather-card">
              <div class="card-body">
                <h3 class="text-center"><%= location.name %></h1>
                <% if location.weather.status %>
                  <%= render 'current_weather', location: location %>
                <% else %>
                  <p><%= location.weather.message %></p>
                <% end %>
                <%= link_to t('locations.index.unfollow'), unfollow_locations_path(location.id),
                    class: 'btn btn-danger', method: :delete %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <%= link_to t('locations.following.subscribe'), locations_path,
          class: 'btn btn-success' %>
    </div>
  </div>
</div>
